.input_form_subscribe{
    transition: all 0.5s;
}

.input_form_subscribe:focus{
    color: #333333 !important;
}

#form_subscribe .info{
    text-transform: capitalize;
}

#newest_packet .price{
    font-size: 15px; 
    color: #333333 !important;
}

.facilities-item .img-fluid{
    width: 360px;
    height: 280px;
    overflow: hidden;
    text-align: center;
}

.facilities-item .img-fluid img{
    margin: 0 auto;
    display: block;
    object-fit: cover;
    width: 360px;
}

.input_packet_search{
    color: #ffffff !important;
}
